@font-face {
    font-family: Pacifico;
    src: url('../../assets/fonts/Pacifico-Regular.ttf');
}
@font-face {
    font-family: Pattaya;
    src: url('../../assets/fonts/Pattaya-Regular.ttf');
}

body {
    margin: 0px;
    font-family: Pacifico;

    background-image: url(../../assets/images/onda.png);
    background-size: 40% 600px;
    background-position: left;
    background-repeat: repeat-y;
}

.container {
    display: flex;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    margin-top: 2em;
}

.logo1, .logo2 {
    font-size: 3em;
}

.logo2 {
    margin-left: 1em;
    margin-top: -0.7em;
}

.categorias-cabecalho, .icones-cabecalho {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
}


.text {
    padding-right: 1.2em;
    font-size: 2em;

    cursor: pointer;
}

.text:hover {
    text-decoration: underline;
	color: black;
}

.icones-cabecalho img {
    padding-left: 1.5em;

    cursor: pointer;
}

.carrinho img {
    width: 4em;
}

.lupa-perfil img {
    width: 3em;
}

.conteudo {
    display: flex;
    flex-direction: column;

    margin: 4.5em;
}

.buscar {
    margin-bottom: 2em;
}

.buscar img{
    width: 2.5em;

    margin-bottom: -0.9em;
    margin-left: -5em;
}

input {
    width: 65em;
    height: 4em;

    border: 4px solid #D1EAF5;
    border-radius: 40px;

    padding: 0em 1em;
    font-size: 1em;
}

input:focus {
    border: 4px solid #D1EAF5;
    box-shadow: 0 0 0 0;
    outline: 0;
}

.nm-box {
    font-size: 3em;
}

.linhas {
    margin-top: -1.7em;
}

.linhas img {
    height: 0.5em;
}

.linha-desta, .linha-cup {
    margin-right: 1em;
}

.linha-fas {
    margin-left: 2em;
}

.box-doces { 
    display: flex;
    flex-direction: column;
}

.box-itens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: 2em;
}

.box-produto {
    background-color: #D1EAF5;
    box-shadow: 0px 7px 10px #858585;
    width: 15em;
    height: 24em;

    padding: 1em 1.5em;

    border-radius: 12px;

    cursor: pointer;

    margin:  2em 4em 5em 2em;
}


.img-doce img{

    width: 100%;
    height: 100%;

    border-radius: 7px;
}

.nm-car-fav {
    display: flex;
    flex-direction: row;

    
    margin: 0.5em 0em;
}

.icone-carrinho {
    width: 3em;
}

.icone-coracao {
    width: 3em;

}

.nm-produto {
    font-size: 2em;
    line-height: 1em;

    width: 4.2em;
}

.preco-produto {
    text-align: center;
    font-size: 1.5em;

    margin-bottom: 0.5em;
}

.ver-mais{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ver-mais button {
    font-family: Pattaya;
    border-radius: 20px;

    background-color: #2F1747;
    color: #FFFFFF;

    border-style: none;

    width: 7em;
    height: 2.7em;
}

footer {
    background-color: #FF8AB5;
    color: #fff;

    display: flex;
    flex-direction: row;

    justify-content: center;
    height: 120px;

    text-align: center;
    font-size: 18px;
}


.rodape {
    display: flex;
    flex-direction: row;

    margin-top: 30px;
}

.sociais {
    display: flex;
    flex-direction: row;

    cursor: pointer;
}

.icon img {
    padding-left: 12px;
    margin-top: 10px;
}

.linha {
    margin-top: 15px;
}