body{
    margin: 0px;
    font-family: Pacifico;
}

@font-face {
    font-family: Pacifico;
    src: url('../../assets/fonts/Pacifico-Regular.ttf');
}

.container_sobreNos{
    display: flex;
    flex-direction: column;
}

.Cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-bottom: 10em;
    background-image: url(../../assets/images/fundo.png);
    background-size: 100% 200px;

    height: 200px;
}

.logo {
    margin-top: 2em;
}

.Sweet, .Cherry {
    font-size: 28px;
}

.Cherry{
    margin-left: 30px;
}

.categorias_cabecalho, .icons_cabecalho {
    display: flex;
    flex-direction: row;
    margin-top: 4em;
}

.text {
    padding-left:3em;
    font-size: 18px;

    cursor: pointer;
    color:black;
}

.text:hover {
    text-decoration: underline;
	color: #fff;
}

.icons_cabecalho img {
    padding-left: 2em;

    cursor: pointer;
}

.titulo{
    display: flex;
    justify-content: center;
    font-size: 3em;

    color: #FF8AB5;
}

.texto p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2em;

}

footer {
    background-color: #FF8AB5;
    color: white;

    display: flex;
    flex-direction: row;

    justify-content: center;
    height: 120px;

    text-align: center;
    font-size: 18px;
}

.rodape {
    display: flex;
    flex-direction: row;

    margin-top: 30px;
}

.sociais {
    display: flex;
    flex-direction: row;

    cursor: pointer;
}

.icon img {
    padding-left: 12px;
    margin-top: 10px;
}

.linha {
    margin-top: 15px;
}

.imagens{
    display: flex;
    justify-content: center;
}

.imagens img{
    border-radius: 1em;
    width: 40em;
    height: 40em;

    margin: 1em;
}